/* Desktop */
@media only screen and (min-width: 800px) {
    body {
        background-color: blue;
    }
}

body {
    width: 1600px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;

}

ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(240, 155, 214);
    grid-area: nav;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(240, 155, 214);
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a :hover {
    background-color: crimson;
}

header a {
    display: none;
}
